@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1c1c1c;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* primereact overrides */

.p-dialog .p-dialog-header{
  color: #ffffff;
}

.p-dialog > .p-dialog-header, .p-dialog-content{
  background-color: var(--background);
}

.p-dialog > .p-dialog-header{
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.p-dialog > .p-dialog-content{
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
